body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#51a81e, #3f22cd); 
}

.container {
    width: 1100px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 14px 20px 9px 3px rgb(131 11 11 / 40%);
    background-color: #fff; 
    background: linear-gradient(#51a81e8a, #3f22cd70); 
}


h2 {
    text-align: center;
    margin-bottom: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #242e7387;
    padding: 20px;
    border-radius: 20px;
    
    
  
    

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 700px; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}
.small-image {
    width: 350px; 
    height: auto; 
    margin-left: -15px;
    margin-top: -60px;
    
}
